<h2>{{dronePart?.name}}</h2>
<div class="media">
    <div class="img" *ngIf="dronePart?.imgSrc">
        <img src="assets/imgs/{{dronePart?.imgSrc}}" width="200px" />
    </div>
    <div class="content">
        <p *ngIf="dronePart?.description">{{dronePart?.description}}</p>
        <p>
            <!--<span class="field">Id</span>{{dronePart?.id}}<br/>-->
            <span class="field">Type</span>{{dronePart?.type}}<br/>
            <span class="field" *ngIf="dronePart?.tags">Tags</span><span class="tag" *ngFor="let tag of dronePart?.tags">{{tag}}&nbsp;&nbsp;&nbsp;&nbsp;</span><br *ngIf="dronePart?.tags"/>
            <span class="field">Author</span>{{dronePart?.author}}
        </p>
    </div>
</div>
<a routerLink="/editContent/{{dronePart?.id}}">Edit Part</a><br>
<a routerLink="/content">Go back to part list</a><br>
<a *ngIf="dronePart?.id != 1" routerLink="/content/{{(dronePart?.id ?? 1) - 1}}">Previous part</a>
