<ng-container *ngIf="newPart.id; else addPartHeader">
    <h2>Update drone part</h2>
</ng-container>
<ng-template #addPartHeader>
    <h2>Add a drone part</h2>
</ng-template>

<ng-container *ngIf="newPart.id">
    <label>ID: <input [(ngModel)]="newPart.id" disabled></label><br>
</ng-container>
<label>Name: <input [(ngModel)]="newPart.name"></label><br>
<label>Description: <input [(ngModel)]="newPart.description"></label><br>
<label>Image URL: <input [(ngModel)]="newPart.imgSrc"></label><br>
<label>Type: <input [(ngModel)]="newPart.type"></label><br>
<label>Tags: <input [(ngModel)]="tags"></label><br>

<ng-container *ngIf="newPart.id; else addPartButton">
    <button (click)="updatePartInServer()">Update Part</button>
</ng-container>
<ng-template #addPartButton>
    <button (click)="addPartToServer()">Add Part</button><br>
</ng-template>

<div *ngIf="added">Part was added successfully!</div>
<div *ngIf="updated">Part was updated successfully!</div>
