:host {
    border: 2px solid rgb(192, 149, 149);
    display: block;
    width: 700px;
    margin: 30px 20px;
    padding: 0 20px
}

:host.even {
    background-color: yellow;
}

:host.odd {
    background-color: red;
}

:host.boxshadow {
    box-shadow: 12px 5px 6px rgb(76, 0, 255);
    background-color: green;
}

.media {
    display: grid;
    grid-template-columns: fit-content(200px) 1fr;
    grid-template-rows:1fr auto;
    grid-template-areas:
        "image content"
        "image footer";
    grid-gap: 20px;
    margin-bottom: 4em;
}

.media-flip {
    grid-template-columns: 1fr fit-content(250px);
    grid-template-areas:
        "content image"
        "footer image";
}

h2 {
    text-align: center;
}

.img {
    grid-area: image;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}

.field {
    display: inline-block;
    width: 80px;
    font-weight: bold;
}

