/* You can add global styles to this file, and also import other style files */
div {
    border: 2px solid #ccc;
    background-color: yellow;
    width: 280pt;
    margin-top: 30pt;
    padding-left: 20pt;
}