/* You can add global styles to this file, and also import other style files */
div {
    border: 2px solid darkgray;
    background-color: yellow;
    width: 400px;
    margin-top: 30px;
    padding-left: 20px;
}

span.field-name {
    display: inline-block;
    width: 80px;
    text-align: right;
    padding-right: 10px;
}